.header{
	
background-color: #383b43;
color: #ffffff;
		cursor: default;
		font-size: 1.1em;
		height: 6em;
		line-height: 6em;
		width: 100%;
		z-index: 10000;
}
body .landing .header nav a{
	color: rgba(255,255,255,0.5);
}
body.landing .header {
		background-color: transparent;
		left: 0;
		position: absolute;
		top: 0;
	}
	.header h1 {
			color: #ffffff;
			height: inherit;
			left: 3em;
			line-height: inherit;
			margin: 0;
			padding-left: 20px;
			position: absolute;
}
.header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 3em;
			vertical-align: middle;
			color: green;
}
.header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				.header nav > ul > li {
					border-radius: 4px;
					display: inline-block;
					margin-left: 3em;
					padding-left: 0;
				}

					

.header .container {
			position: relative;
		}

			.header .container h1 {
				left: 0;
				font-family: 'Bad Script';
			}

			.header .container nav {
				right: 3;
			}

 .header .container .navbar :hover{
	
	color: aqua;
}


a {
	color: white;
	text-decoration: none;
}