html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background: linear-gradient(to top, #283e51, #0a2342);
  /* background: black; */
  overflow-y: scroll;
}

.lucia-body {
  color: white;
  /* margin: 25px; */
  font-family: "Arapey", serif;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 10px 10px;
  height: 100%;
  overflow: hidden;
}

.lucia-nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin: 5px 0;
}

a:hover {
  opacity: 0.5;
}

.lucia-canvas {
  position: absolute;
  /* height: 100%; */
  height: 400px;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.lucia-hero {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.lucia-img {
  height: 300px;
  width: 300px;
  margin: 20px auto;
  -webkit-user-drag: none;
}

.lucia-about {
  display: flex;
  margin: 80px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lucia-about-wrapper {
  max-width: 530px;
  margin-right: 20px;
}

.lucia-about-img {
  height: 300px;
  width: 300px;
  -webkit-user-drag: none;
}

.lucia-hero h1 {
  margin: 5px auto;
  letter-spacing: 0.5em;
  font-family: "Cormorant Upright", serif;
  /* font-family: "Elsie", cursive; */
  /* font-family: "Montserrat", sans-serif; */
}

.lucia-hero h2 {
  margin: 0 auto;
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  text-align: center;
}

.seq {
  color: #ffffcf;
  font-size: 16px;
}

.carousel-root {
  /* height: 400px; */
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.carousel-wrapper {
  /* position: absolute; */
  /* height: 100%; */
  /* width: 100%; */
  overflow: visible;
  white-space: nowrap;
}

.carousel-item {
  /* width: 100%;
    opacity: 0;
    position: absolute;
    top: 0; */
  width: 90%;
  display: flex;
  display: inline-flex;
  flex-direction: column;
  margin-right: 15px;
  scroll-snap-align: start;
}

.carousel-item img {
  /* height: 100%; */
  width: 100%;
  height: 200px;
}

.carousel-item .carousel-text {
  white-space: normal;
}

/* .carousel-item.active {
  opacity: 1;
} */

.end {
  text-align: center;
}

.social-wrapper {
  display: flex;
  justify-content: center;
}

.social {
  height: 70px;
  margin-left: 10px;
}

svg {
  position: fixed;
  /* margin: auto; */
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes orbitAnimation {
  0% {
    transform: translate(-125px, 0) rotate3d(0, 0, 1, 360deg);
  }

  100% {
    transform: translate(-125px, 0) rotate3d(0, 0, 1, 270deg);
  }
}

.shooting-star {
  transform-origin: 125px 0;

  animation: 5s orbitAnimation infinite linear;
}

@media only screen and (min-width: 768px) {
  .lucia-body {
    margin: 25px;
  }

  .header-content {
    float: left;
  }

  .lucia-hero {
    margin-right: 0;
  }

  .header-content h1 {
    font-size: 180px;
    font-family: "Megrim", cursive;
    margin: 0;
    line-height: 150px;
  }

  .header-content h2 {
    font-family: "Megrim", cursive;
    font-size: 44px;
    margin: 0;
    text-align: end;
  }

  .hero h3 {
    text-align: right;
    font-size: 30px;
    font-family: "Megrim", cursive;
    margin: 0;
  }

  /* .hero img {
    float: right;
    margin-right: -270px;
  } */

  .lucia-img {
    height: 400px;
    width: 400px;
    margin: 0 auto;
  }

  .lucia-about {
    flex-direction: row;
  }

  .lucia-about-img {
    height: 400px;
    width: 400px;
  }

  /* .main-content {
    clear: both;
  } */

  .main-content p {
    font-family: "Arapey", serif;
    font-size: 20px;
    text-align: justify;
  }

  .main-content h3 {
    font-size: 30px;
    font-family: "Megrim", cursive;
  }

  /* .about {
    width: 650px;
    padding: 20px;
    margin: auto;
  } */

  .carousel-root {
    /* height: 400px; */
    overflow: auto;
    margin: 0 auto;
    max-width: 1440px;
    /* overflow-x: scroll;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    scroll-snap-type: x mandatory; */
  }

  .carousel-wrapper {
    /* position: absolute; */
    /* height: 100%; */
    /* width: 100%; */
    overflow: auto;
    /* padding: 20px; */
    display: flex;
    flex-flow: wrap;
  }

  .carousel-item {
    /* width: 100%;
      opacity: 0;
      position: absolute;
      top: 0; */
    width: 400px;
    display: flex;
    flex-grow: 1;
    flex-basis: 300px;
    /* display: inline-flex; */
    /* flex-direction: column; */
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    /* scroll-snap-align: start; */
  }

  .carousel-item img {
    height: 100%;
    width: 100%;
    /* height: 200px; */
  }

  .carousel-item .carousel-text {
    white-space: normal;
    position: absolute;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    justify-content: space-evenly;
    align-items: flex-start;
    opacity: 0;
  }

  .carousel-text #repo {
    color: #ffffcf;
    text-decoration: none;
  }

  .carousel-text #repo:hover {
    opacity: 0.5;
  }

  .carousel-item:hover .carousel-text {
    opacity: 1;
  }
}
