html {
  overflow-y: scroll;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background: url("../assets/images/iceland-bg.jpg");
  height: 100vh;
  background-size: cover;
  position: fixed;
  background-repeat: round;
  width: 100vw;
}

.lucia-body {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0 10px 10px;
  margin: 0;
  height: 100%;
  overflow: scroll;
  background: rgba(1,1,1,0.2);
  box-sizing: border-box;
}

.lucia-wrapper{
  margin: 15px;
}

.lucia-nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  font-family: "Cormorant Upright", serif;
  font-size: 18px;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin: 5px 0;
}

a:hover {
  opacity: 0.5;
}

.lucia-canvas {
  display: none;
}

.lucia-hero {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.lucia-img {
  height: 300px;
  width: 300px;
  margin: 20px auto;
  -webkit-user-drag: none;
}

.lucia-about {
  display: flex;
  margin: 80px 0;
  align-items: center;
  flex-direction: column;
}

.lucia-about-img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  -webkit-user-drag: none;
}

.lucia-hero h1 {
  margin: 5px auto;
  font-size: 5vw;
  letter-spacing: 5vw;
  font-family: "Cormorant Upright", serif;
}

h5{
  font-family: "Cormorant Upright", serif;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.lucia-about-wrapper h4{
  margin: 0;
}

.seq {
  color: #ffffcf;
  font-size: 16px;
  height: 40px;
}

.carousel-root {
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.carousel-wrapper {
  overflow: visible;
  white-space: nowrap;
}

.carousel-item {
  width: 90%;
  display: flex;
  display: inline-flex;
  flex-direction: column;
  margin-right: 15px;
  scroll-snap-align: start;
}

.carousel-item img {
  width: 100%;
  height: 200px;
}

.carousel-item .carousel-text {
  white-space: normal;
}

.end {
  text-align: center;
  margin-bottom: 120px;
}

.social-wrapper {
  display: flex;
  justify-content: center;
}

.social {
  height: 70px;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  html{
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }

  .lucia-canvas {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .lucia-hero {
    margin-right: 0;
  }

  .lucia-about-wrapper {
    margin-right: 50px;
    font-size: 20px;
  }

  .lucia-img {
    height: 400px;
    width: 400px;
    margin: 0 auto;
  }

  .lucia-about {
    flex-direction: row;
  }

  .lucia-about-img {
    height: 400px;
    width: 400px;
  }

  .carousel-root {
    overflow: auto;
    margin: 0 auto;
    max-width: 1440px;
  }

  .carousel-wrapper {
    overflow: auto;
    display: flex;
    flex-flow: wrap;
  }

  .carousel-item {
    width: 400px;
    display: flex;
    flex-grow: 1;
    flex-basis: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
  }

  .carousel-item img {
    height: 100%;
    width: 100%;
  }

  .carousel-item .carousel-text {
    white-space: normal;
    position: absolute;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    justify-content: space-evenly;
    align-items: flex-start;
    opacity: 0;
  }

  .carousel-text .repo {
    color: #ffffcf;
    text-decoration: none;
  }

  .carousel-text .repo:hover {
    opacity: 0.5;
  }

  .carousel-item:hover .carousel-text {
    opacity: 1;
  }

  .end {
    margin-bottom: 15px;
  }
}
