
body{
	
	/*background-color: #000000;*/
	background: linear-gradient(to bottom, #383b43 1%, #000000); 
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	margin: 0;
}
.header nav > ul > li a {
						color: #ffffff;
						display: inline-block;
						text-decoration: none;
					}
.main h1{
	color:white;
	font-family:'Satisfy',Freestyle Script;
	font-weight: 600;
	font-size: 120px;
	letter-spacing: 5px;
	margin-top: 0;
	margin-bottom: 0px;
	text-transform: uppercase;
	padding-bottom: 0px;
}
.main h2{
	font-family: Pristina;
	font-size: 30px;
	margin-top: auto;
}
.main h3{
	font-family: Pristina;
	font-size: 25px;
	margin-left: 270px;
	margin-top: -20px;
}

.main{
	text-align: center;
	top: 150px;
	position: relative;
}


#mainPic{
	margin-top: 0px;
	height: 250px;
	width: 450px;
}

#aboutMe{
	color: #FFB8B8;
	font-size: 60px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 1px;
	font-family: Freestyle Script;
	padding-top:  80px;
}


.jumbotron{
	background-image: url(../assets/images/dark_tint.png),url(../assets/images/bokeh_car_lights_bg.jpg);
	background-position: center center;
	background-size: cover;
	color: black;
	padding: 14em 0em 14em;
	text-align: center;
}
.jumbotron :last-child {
			margin-bottom: 0;
		}

.jumbotron h2 {
			color: #ffffff;
			font-size: 4em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

.jumbotron p {
			font-size: 1.5em;
			margin-bottom: 1.75em;
}

.aboutMeDiv {
	margin: 0;
	margin-left: 15%;
	margin-right: 8%;
}
.aboutMeDiv p {
		margin: 0 0 2em 0;
	}
#goodreads{
	color: aqua;
}


.content{
	padding-top: 80px;
padding-bottom:100px;
}
.content .column{
	float:left;
	width: 33%;
	font-family: cursive;
	text-align: center;
}

.content .column img{
	height: 60px;
}

.content h2{
	font-weight: 600;
	font-size: 23px;
	font-family: 'Bad Script',FreeStyle Script;
	text-transform: uppercase;
	color: #FFB8B8;
}

.content p{
	font-weight: 400;
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 22px;
	padding: 0 50px;
	margin-bottom: 40px;
	color: white;
}
.GoToTop{
	clear: both;
	padding: auto;
	text-align: center;
	font-size: 70px;
	font-family:  FreeStyle Script;
	text-decoration: none;
	color: white;
	border-radius: 50px;
}
.GoToTop :hover{
	background-color: #191947;
	color:#ffffff;
	text-decoration: none;
}
.GoToTop :visited{
	text-decoration: none;
	color: white;
}
#instruct{
	text-align: center;
	font-size: 30px;
	font-family: FreeStyle Script;
	margin-top: 0;
}
.footer{
	background-color: #000000;
	clear: both;
	padding: 30px 0;
}
.footer p{
	text-transform: uppercase;
	font-size: 20px;
	color: white;
}