html{
	clear:both;
}

body{
	
/*	background:  linear-gradient(to bottom, #000000 50%,#08122d 64%,#23c8db 87%,#ffffff 100%);
	background-color: black;*/
	background-color: #ffffff;
	color: #000000;
	margin: 0;
	overflow-x: hidden;

	/*position: relative;*/
}

.enter {
	width: 100vw;
	height: 100vh;
	background-color: #000000;
}

.slide-up{
	height: 20vh;
	background-color: #000000;
	border-color: #000000;
	color: #ffffff;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 5vw;
	font-family: 'Megrim', cursive;
	cursor: pointer;
}

.slide-up:hover{
	color: aquamarine;
	font-size: 6vw;
}

.slide-up:focus{
	outline: #000000;
}

.main-content{
	visibility: hidden;
	display: none;
}


.landing h1{ 
	color:#f0efe6;
	font-size: 15vw;
	line-height: 80vh;
	vertical-align: middle;
	text-align: center;
	font-family: 'Megrim', cursive;
	margin: 0;
	/*letter-spacing: 10px;
	top:20%;
	left: 50%;*/

}

h3{
	font-family: 'Megrim', cursive;
	font-size: 3.5vw;

}

h4{
	font-family: 'Megrim', cursive;
	font-size: 1.8vw;
	margin: 0;
}

.clear h3{
	padding-left: 0.7em;
}

ul{
	list-style-type: none;
	width: 100%;
	padding-left: 30px;
	margin-top: 0px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

li{
	float: left;
	padding-left: 5em;	
}

li a{
	display: block;
}
/*
.links{
	top: 15%;
	left: 55%;
	position: relative;
	letter-spacing: 80px;
}

*/

.float-right img{
	pointer-events: none;
	display: block;
	max-width:400px;
	max-height:120px;
	width: auto;
	height: auto;
}

.main-content p {
	font-family: 'Arapey', serif;
	font-size: 1.2em;
	text-align: justify;
}


.float-left{
	float: left;
	width: 35vw;
	height: 70vh;
	pointer-events: none;
}

.float-right{
	float: right;
	width: 60vw;
	height: auto;
	margin-right: 25px;
}

.clear{
	clear: both;
}

#goodreads{
	color:#33ffba;
	font-weight: bold;
	font-family: 'Megrim', cursive;
	text-decoration: none;
}






