body{
	margin: 0;
	padding: 00;
	/*background-color: #000000*/
	
  background: #e7feff;

	font-family: 'VT323', sans-serif;
}
.header nav > ul > li a {
						color: white;
						display: inline-block;
						text-decoration: none;
					}
/*.jumbotron{
	height:1000px;
	width: 100%;
	background-image: url(../assets/images/portal.jpg);
	background-repeat: no-repeat;
	
}*/
#float-left{
	text-align: left;
}
#float-right{
	clear: both;
	float: right;
	margin-right: 80px;

	width: 250px;
    height: 150px;
}

.container .pageTitle{
	top: 150px;
	position: relative;
}

.pageTitle h1{
	color:#009399;
	font-family: 'Delius Unicase', cursive;
	font-weight: 600;
	font-size: 100px;
	letter-spacing: 5px;
	margin-top: 0;
	margin-bottom: 0px;
	text-transform: uppercase;
	padding-bottom: 0px;
	text-indent: 12px;
	text-align: center;
}


.introductory p{
	color: black;
	margin-left: 50px;
    margin-top: 150px;
   width: 500px;
    height: 50px;

    text-align: left;
    
}
p{
	color: #99ebff;
	margin-left: 50px;
}
h3{
	color: #FFB8B8;
	margin-left: 30px;
	font-size: 40px;
}
table{
	margin: auto;
}


.GoToTop{
	clear: both;
	padding: auto;
	font-size: 60px;
	font-family:  FreeStyle Script;
	text-decoration: none;
	color: black;
	border-radius: 55px;
	float: right;
}
.GoToTop :hover{
	color:#FFB8B8;
	text-decoration: none;
}
.GoToTop :visited{
	color: black;
}
