body{
	margin: 0;
	padding: 00;
	/*background-color: #000000*/
	
  background: #000000;

	font-family: 'Open Sans Condensed', sans-serif;
}
.header nav > ul > li a {
						color: white;
						display: inline-block;
						text-decoration: none;
					}
.jumbotron{
	height:1000px;
	width: 100%;
	background-image: url(../assets/images/portal.jpg);
	background-repeat: no-repeat;
	
}
#float-left{
	text-align: left;
}
#float-right{
	clear: both;
	float: right;
	margin-right: 80px;

	width: 250px;
    height: 150px;
}

.pageTitle{
	text-align: center;
	top: 150px;
	position: relative;
}

.pageTitle h1{
	color:#E8E8E8;
	font-family:'Bad Script',Freestyle Script;
	font-weight: 600;
	font-size: 100px;
	letter-spacing: 5px;
	margin-top: 0;
	margin-bottom: 0px;
	text-transform: uppercase;
	padding-bottom: 0px;
	text-indent: 12px;
}
.pageTitle h1 span{
	color: #E8E8E8;
}

.introductory p{
	color: white;
	margin-left: 50px;
    margin-top: 150px;
   width: 500px;
    height: 50px;

    text-align: left;
    
}
p{
	color: white;
	margin-left: 50px;
}
h3{
	color: #FFB8B8;
	margin-left: 30px;
	font-size: 40px;
}
table{
	margin: auto;
}
