body{
	margin: 0;
/**	background: linear-gradient(#e5fff7,#66ffcc, #00b8e6,#007399); **/
background-color: #f2f2f2;

}

.header{
	height: 5em;
	background-color: #015b8f;
	opacity: 0.8;
	line-height: 5em;
	z-index: 10000;

	position: fixed;
	width: 100%;
}
.header h1{
	color: pink;
	height: inherit;
	left: 0;
	line-height: inherit;
	margin: 0;
	padding-left: 20px;
	position: absolute;
	text-decoration: none;
	font-family: 'Philosopher';
}

a{
	color: black;
	text-decoration: none;
}
.header nav{
	position: absolute;
	right: 3em;
}
.header nav > ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.header nav > ul > li {
		border-radius: 4px;
		display: inline-block;
		margin-left: 3em;
		padding-left: 0;
}
.header nav > ul > li a{
	color: #7ab9cf;
	font-family: 'Philosopher';
	font-size: 16px;
	text-decoration: none;
}
.header nav :hover {
	color:  #aeeaea;
}


.container{
	padding-top: 85px;
}
.container #slideshow{
	width: 1200px;
	height:500px;
	overflow: hidden;
	margin: 0 auto 50px auto;
}

.container #slideshow ul{
	width: 40000px;
	list-style: none;
}

.container #slideshow ul li{
	float: left;
}

.container #slideshow-nav{
	width: 200px;
	margin: 0 auto 100px auto;
}

.container #slideshow-nav ul{
	list-style: none;
}

.container #slideshow-nav ul li{
	float: left;
}

.container #slideshow-nav ul li a{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 5px;
	background-color: black;
	text-indent: -9999px;
	border-radius: 50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
}

#slideshow-nav ul li a:hover, #slideshow-nav ul li a.active{
	background-color: #3e3436;
}

/**sub menu stuff **/
 .clearfix :after{
 	display: block;
 	clear: both;
 }

 #nav-bar li:hover .sub-menu{
z-index: 1;
opacity: 1;
 }
#nav-bar > ul > li{
	float: left;
	display: inline-block;
	position: relative;
}


 #nav-bar .arrow{
 	font-size: 11px;
 	line-height: 0%;
 }

.sub-menu  {
    width:320%;
    padding:0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#015b8f;
    font-size: 19px;
}

.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
	color:  #aeeaea;
}

/** merp **/

 .title h1{
	text-align: left;
	color:  #015b8f;
	font-family: 'Philosopher';
	margin-left: 20px;
	padding-top: 90px;
}
h2{
	text-align: center;
	padding-top: 80px;
}
h3{
	margin-left: 50px;
	color:#3e3436;
}
p{
	margin-left: 50px;
	margin-right: 50px;
}


#info h1{
	color:#3e3436;
	text-align: center;
	font-size: 300%;
}