.heroContainer{
    background: #332421;
    /* background: #D6CFC9; */
    height: 100%;
    /* ÷÷ calc(100% - 50px); */
    width: 100%;
    /* border-radius: 30px; */
    /* padding: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .heroContent{
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* opacity: 1; */
  }

  .heroContent h1{
    font-family: 'Recoleta', sans-serif;
    font-size: 90px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }


.inner{
  background: #F5F7F2;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

@media (min-width: 768px) {
    .inner{
        width: 500px;
        height: 300px;
      }
  }