.container{
  background: #e1f0f5;
  background: #D6CFC9;

  /* color: black; */
  height: 100vh;
  /* width: 100%; */
  /* overflow: hidden; */



  /* display: flex;
  justify-content: center;
  align-items: center; */
    font-family: 'Euclid Circular B', sans-serif;
}

.circle{
  background:#f81acc; border-radius: 50%; width:20px; height:20px; position:absolute;
}

