.container{
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  color: white;
  height: 100vh;
  overflow: hidden;
}

@keyframes move-twink-back{
  from {background-position: 0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-cloud-back{
  from {background-position: 0 40vh;}
  to {background-position: 10000px 35vh;}
}

.twinklingStars{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;

  animation: move-twink-back 200s linear infinite;
}

.cloud{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background: transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  background-repeat: repeat-x;

  /* background: transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center; */
  z-index: 1;

  animation: move-cloud-back 200s linear infinite;
}

.main{
  z-index: 2;
  position: relative;
}

.name{
  font-size: 5vw;
  letter-spacing: 5vw;
  font-family: "Cormorant Upright", serif;
}