.container{
  background: #e1f0f5;
  background: #D6CFC9;

  /* color: black; */
  height: 100vh;
  /* width: 100%; */
  /* overflow: hidden; */



  /* display: flex;
  justify-content: center;
  align-items: center; */
    font-family: 'Euclid Circular B', sans-serif;
}

.intro{
  color: #F5F7F2;
}

.intro h2{
  font-size: 40px;
}

.intro p{
  margin: 0;
}

.intro .interests{
  margin-top: 50px;
}
